<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="MCU_Chosing" value="SWM320" />
        <add key="FilePath" value="C:\Users\hasee\Desktop\Library\PWM\SimplPWM\out\SimplPWM.bin" />
        <add key="Download_Auto" value="Yes" />
        <add key="Comm_Bund" value="250000" />
    </appSettings>
</configuration>